flask
flask-cors
flask-sqlalchemy
flask-migrate
pymysql
openai
langchain
langchain-community
tiktoken==0.7.0
faiss-cpu
langchain-openai
pandas
transformers 
torch 
sentence-transformers
flask_sqlalchemy
flask_pymongo
mysql-connector-python
faker
pyspellchecker
dill